{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h1 class="card-title">Listagem de Avaliações</h1>
            <h4 class="card-description">
                Aqui você pode visualizar todas as avaliações cadastradas.
            </h4>
        <a href="{% url 'avaliacao:avaliacao_add' %}" class="btn btn-primary mb-3">Cadastrar Nova Avaliação</a>
        {% if messages %}
            {% for message in messages %}
              <div class="text-center alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}
                <div class="table-responsive">
                    {% if avaliacaos %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Projeto Avaliado</th>
                                <th>Avaliador</th>
                                <th>Data</th>
                                <th>Nota Final</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for avaliacao in avaliacoes %}
                            <tr>
                                <td>{{ avaliacao.projeto.nome }}</td>
                                <td>{{ avaliacao.avaliador }}</td>
                                <td>{{ avaliacao.data_avaliacao|date:"d/m/Y" }}</td>
                                <td>
                                    <span class="badge badge-success">{{ avaliacao.nota_final }} / 10,00</span>
                                </td>
                                <td>
                                    <a href="{% url 'avaliacao:avaliacao_detail' id_avaliacao=avaliacao.id %}" class="btn btn-info btn-sm mr-1">Ver Detalhes</a>
                                    <a href="{% url 'avaliacao:avaliacao_update' id_avaliacao=avaliacao.id %}" class="btn btn-warning btn-sm mr-1">Editar</a>
                                    <a href="{% url 'avaliacao:avaliacao_delete' id_avaliacao=avaliacao.id %}" class="btn btn-danger btn-sm">Excluir</a>
                                </td>
                            </tr>
                            {% endfor %}
                    {% else %}
                        Nenhuma avaliação encontrada.
                    {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}