{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Detalhes do Barema</h1>
        <h4 class="card-description">Informações sobre o barema e seus critérios de avaliação.</h4>

        <div class="form-group mb-3">
          <label class="text-muted">Nome do Barema:</label>
          <p class="font-weight-bold">{{ barema.nome }}</p>
        </div>

        <div class="form-group mb-3">
          <label class="text-muted">Critérios de Avaliação:</label>
          {% if barema.criterios.all %}
            <ul class="list-group list-group-flush" style="border: 1px solid #444;">
              {% for criterio in barema.criterios.all %}
                <li class="list-group-item" style="background-color: transparent;">
                  {{ criterio.descricao }} (Peso: {{ criterio.peso }})
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>Nenhum critério associado a este barema.</p>
          {% endif %}
        </div>
        
        <div class="mt-4"> 
            <a href="{% url 'barema:barema_index' %}" class="btn btn-dark">Voltar para a Listagem</a>
            <a href="{% url 'barema:barema_update' id_barema=barema.id %}" class="btn btn-warning ml-2">Editar Barema</a>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endblock %}